.backgroundBlured {
  background-image: url("../images/maptemplateblured.png");
  background-size: cover;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.accountContainer {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgb(223, 209, 255);
  flex-direction: column;
  padding: 1em;
  border-radius: 10px;
  width: 50%;
}
.accountContainer h2 {
  margin: 0.1em 0 0.1em;
}
.accountContainer li {
  list-style: none;
  text-align: center;
}
.accountContainer ul {
  padding: 0;
}
.deleteHandicaps {
  color: red;
  border: 0px;
  border-radius: 0.3em;
  padding: 0.3em;
  margin: 0.2em 0 1em;
}
.deleteHandicaps:hover {
  color: rgb(2, 2, 2);
  background-color: grey;
}
.addHandicaps {
  background-color: greenyellow;
  border: 0px;
  border-radius: 0.3em;
  padding: 0.3em;
  margin: 0.2em 0 1em;
}
.linkButton {
  background-color: #bdaad0;
  border: 0px;
  border-radius: 0.3em;
  padding: 0.3em;
  color: white;
  margin: 1em 0 1em;
  text-decoration: none;
}
.linkButton:hover {
  background-color: #424362;
  color: white;
}
@media (max-width: 650px) {
  .accountContainer {
    width: 98%;
  }
}
