header{
    width: 100%;
    top: 0;
    z-index: 99;
    position: absolute;
    text-align: center;
    padding:.3em 0 .3em;
    background-color: #424362;
}

header h1{
    color:rgb(255, 255, 255);
    text-align: left;
    margin:0 0 0 .5em;
    padding:.2em 0 .2em;
}