.backgroundBlured {
	background-image: url("../images/maptemplateblured.png");
	background-size: cover;
	width: 100%;
	min-height: 100vh;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 8vh 0;
}

.ownerContainer {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;
	padding: 1em;
	border-radius: 10px;
	width: 60%;
}
.etablissementsContainer {
	background-color: var(--background-color-light);
	margin: 1em 0 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	border-radius: 10px;
	width:100%;
}
.etablissementsContainer span {
	background-color: var(--background-color-light);
	margin: 1em 0 1em;
	width: 30%;
}
.etablissementsContainer span div {
	margin: 1em 0 1em;
}
.etablissementsContainer .etablissementsPhoto {
	width: 30%;
}
.handicapsLine {
	margin: 0.1em 0 0.1em;
}
.Selecthandicaps {
	width: 99%;
	border: none;
	border-radius: 5px;
}
@media (max-width: 650px) {
	.ownerContainer {
		width: 98%;
	}
}
