.mapLeaflet {
  height: 100vh;
  z-index: 0;
}
.popupEtablissement {
  width: 300px;
  height: 200px;
}
.infoPopupEtablissement {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.infoPopupEtablissement p {
  margin: 0.1em 0;
}
.infoPopupEtablissement img {
  width: 40%;
}
.infoPopupEtablissement div {
  width: 58%;
}
.infoPopupEtablissement div span {
  display: block;
  width: 100%;
}
