.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.searchBar input,
.searchBar img {
  height: 1.5em;
}
.searchBar input {
  border: none;
  border-radius: 0.75em;
  background-color: var(--background-color-light);
}
