.twoBtnBar {
	width: 100%;
	top: 0;
	z-index: 99;
	position: absolute;
	padding: 10px 0 10px;
	display: flex;
	justify-content: space-between;
	align-content: center;
	flex-wrap: wrap;
}
.twoBtnBar a img {
	width: 50px;
	background-color: var(--background-color-dark);
	border-radius: 10px;
	margin: 0 10px 0;
}
.twoBtnBar a img:hover {
	background-color: var(--button-color-hover);
}
.searchBar {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	margin: 0 10px 0;
}
.searchBar img {
	width: 25px;
}
.searchBar input {
	border: 2px black;
	border-radius: 5px;
}
@media only screen and (max-width: 650px) {
	.twoBtnBar a img {
		width: 40px;
	}
}
