.FormAddEtablissement {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 1em 0;
  border-radius: 10px;
  width: 60%;
  background-color: var(--background-color-light);
  margin: 1% 0;
}
.FormAddEtablissement form {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.FormAddEtablissement form label {
  text-align: left;
  width: 100%;
}

.FormAddEtablissement form * {
  margin: 0.3em 0 0.3em;
}

.addButton {
  background-color: var(--button-color);
  border: 0px;
  border-radius: 0.3em;
  padding: 0.3em;
  color: white;
  text-decoration: none;
}
@media (max-width: 650px) {
  .FormAddEtablissement {
    width: 98%;
  }
  .FormAddEtablissement form {
    width: 70%;
  }
  .FormAddEtablissement form input {
    width: 100%;
  }
}
