.startIcon {
	width: 1em;
	height: 1em;
	color: var(--avis-icon-color);
}
.addButton,
.deleteButton,
.linkButton {
	border: 0px;
	border-radius: 0.3em;
	padding: 0.3em;
	text-decoration: none;
	margin: 1em;
	color: white;
}
.linkButton {
	background-color: var(--button-color);
}
.deleteButton {
	background-color: var(--button-color-delete);
}
.addButton {
	background-color: var(--button-color-add);
}
.deleteButton:hover,
.addButton:hover,
.linkButton:hover {
	background-color: var(--button-color-hover);
}
.linkText{
  text-decoration: none;
  text-align: left;
  width: 100%;
}
.linkText:hover{
  color:black
}
.starIcons{
  width:1em;
  height: 1em;
  color:var(--avis-icon-color);
}

.leaflet-bottom {
	margin-bottom: 2em;
}
.leaflet-popup-content-wrapper,.leaflet-popup-tip{
	background-color: var(--background-color-light);
}