@font-face {
  font-family: Montserrat;
  src: url("./assets/font/Montserrat-Regular.ttf");
}

[data-theme="defaut"] {
  --background-color-dark: #424362;
  --background-color-light: #ebecff;

  --button-color: #cbbbfe;
  --button-color-delete: #ff0000;
  --button-color-add: #bbfec0;
  --button-color-hover: #b1b1b1;

  --avis-icon-color: rgb(255, 255, 51);

  --grayscale-level: 0;
  --leaflet-market-brightness: 1;
}
[data-theme="monocolor"] {
  --background-color-dark: #484848;
  --background-color-light: #dddddd;

  --button-color: #a0a0a0;
  --button-color-delete: #a0a0a0;
  --button-color-add: #a0a0a0;
  --button-color-hover: #b1b1b1;

  --avis-icon-color: #ffffff;

  --grayscale-level: 1;
  --leaflet-market-brightness: 0;
}

body {
  margin: 0;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  min-height: 100vh;
  --font-title: "Montserrat";
}

body * {
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3 {
  font-family: var(--font-title), Arial, Helvetica, sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
